page-menu {
    .main-content {
        padding: 30px !important;
        padding-top: 100px !important;
    }
    .menu-main-buttons {
        height: 50%;
        button {
            margin-bottom: 30px !important;
        }
    }
}
